<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
      <key>frames</key>
      <dict>
		<key>Tw00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw01.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw02.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw03.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw04.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw05.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1198,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1541,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2054,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2225,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2397,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2568,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw016.png</key>
			<dict>
				<key>frame</key>
				<string>{{2739,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw017.png</key>
			<dict>
				<key>frame</key>
				<string>{{2910,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw018.png</key>
			<dict>
				<key>frame</key>
				<string>{{3082,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw019.png</key>
			<dict>
				<key>frame</key>
				<string>{{3253,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw020.png</key>
			<dict>
				<key>frame</key>
				<string>{{3424,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw021.png</key>
			<dict>
				<key>frame</key>
				<string>{{3595,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
		<key>Tw022.png</key>
			<dict>
				<key>frame</key>
				<string>{{3766,0},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}}</string>
			</dict>
    </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>twl_paths3.png</string>
            <key>size</key>
            <string>{3947,182}</string>
            <key>textureFileName</key>
            <string>twl_paths3.png</string>
        </dict>
    </dict>
</plist>